<template>
    <div class="row">
       <div 
       class="col-12 col-lg-3  mt-3 " 
       v-for="pais in paises" 
       :key="pais.numericCode">
           <Card :pais="pais" />
       </div>
    </div>
</template>

<script>
import { computed, onMounted } from 'vue';
import {useStore} from 'vuex';

import Card from './Card';

    export default {
        name: 'CardList',
        components:{
           Card
        },
        setup(){
            const store = useStore();

            onMounted(async ()=>{
               await store.dispatch('getPaises');
               await store.dispatch('filtrarRegion','');
            });

            const paises = computed(()=>{  //funcion computada
                // return store.state.paises;
                return store.getters.topPaisesPoblacion
            });
            

            return {
                paises
            }

        }
    }
</script>



